body {
    font-family: monospace;
    text-align: center;
    background-color: azure;
    margin: 0;
    padding: 0;

}

header {
    background-color: #242021;
    position:relative;
    left:0;
    top:0;
    width: 100%;
    padding: 15px 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

@media screen and (max-width: 940px) {
    .flex-container {
        flex-direction: column;
    }
    h2 {
        margin: 3em 0 1em;
    }
    .design-canvas {
        margin-top: 6em;
    }
    .grid-picker {
        margin-top: 6em;
    }
    input[type=number] {
        display: block;
        margin : 0 auto;    
    }
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    color: crimson;
    margin: 0.2em;
}

h2 {
    font-family: monospace;
    margin: 6em 0 1em;
}

.design-canvas {
    margin-top: 6em;
}

table,
tr,
td {
    border: 2px solid;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

hr {
    margin: 3em 0;
}

input {
    border-radius: 2px;
}

input[type=number] {
    width: 6em;
    padding: .5em 0;
    padding-left: 1em;
    background-color: beige;
    font-weight: bold;
}

input[type=submit] {
    font-family: monospace;
    font-weight: bold;
    width: 6em;
    padding: 1em 1em;
    background-color: aliceblue;
}

input[type=checkbox] {
    margin-bottom: 2em;
}